- attributes("title") = "SysMon - A lightweight System Monitoring Tool in Scala"
- attributes("headline") = "SysMon Dashboard"

- import me.techaddict.sysmon.scripts._

h3 "Disk Usage:"
- for(i <- DiskUsage.value1)
  p = i
br
h3 "Host name:"
= Hostname.value
h3 "Uptime:"
= Uptime.value
h3 "Users:"
- for(i <- Users.value1)
  p = i
h3 "Memory:"
- for(i <- Memory.value1)
  p = i