- attributes("title") = "SysMon - A lightweight System Monitoring Tool in Scala"
- attributes("headline") = "SysMon Dashboard"

- import me.techaddict.sysmon.scripts._

h4 "Disk Usage:"
- for(i <- DiskUsage.value1)
  p = i
h4 "Host name:"
= Hostname.value
h4 "Uptime:"
= Uptime.value
h4 "Users:"
- for(i <- Users.value1)
  p = i
h4 "Memory:"
- for(i <- Memory.value1)
  p = i
h4 "OS Info"
= OSInfo.value